{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'studentprofile.css' %}">
   <script src="{% static 'studentprofile.js' %}"></script>
   <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="padding-top: 0px;" >
        <div class="container-fluid" style="background-color:thistle;">
          <a class="navbar-brand" href="#">Welcome xxxxxx!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"  style="padding-inline-start: 100px;">
                    <button class="bt">
                        <a class="nav-link active" aria-current="page" href="#">Approved</a>
                    </button>
                   
                  </li>
              <li class="nav-item"  style="padding-inline-start: 200px;">
                <button class="bt">
                    <a class="nav-link active" aria-current="page" href="#">Denied</a>
                </button>
               
              </li> 
            
              <li class="nav-item"  style="margin-left: 200px;">
                <button class="bt">
                    <a class="nav-link active" aria-current="page" href="#">My Profile</a>
                </button>
              
              </li> 
              <li class="nav-item"  style="margin-left: 200px;">
                <button class="bt">
                    <a class="nav-link active" aria-current="page" href="#">Logout</a>
                </button>
               
              </li> 
              
          </div>
        </div>
      </nav>
    <div class="container" style="background-color: thistle; height: 650px; width: 900px; margin-left: 40px; margin-top: 0px;">
    <div class="" style="padding-top: 15px; padding-left: 10px;">
        <div class="re">
            
            
                <label for="req"><h4>Subject:</h4></label>
                <input type="text" id="fname" name="fname" style="width: 600px;"><br><br>
                <label for="sub"><h4>Request:</h4></label>
               <div  style="position:relative;bottom:30px;">
                
                <textarea style="margin-left: 100px; top:70px" name="sub" id="" cols="80" rows="7"></textarea>
                <br><br>
               </div>
               <!-- image -->
               
                <label for="img"><h4>Select file:</h4></label>
                <input type="file" id="myFile" name="filename">
              
              <br>
              <!-- multi select -->
              
                <form action="gmail" method="POST">
                  {%csrf_token%}
                  <label for="authority"><h4>Select Authority:</h4></label>
                <div class="multipleSelection"  style="position:relative;bottom:30px; left:190px;">
                    
                    <div class="selectBox" 
                        onclick="showCheckboxes()">
                        <select name="adminname">
                          {% for i in data%}
                            <option value={{i.name}}>{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                </div>
              
              <div class="med">
                <label for="req"><h4>Medium: </h4></label>

                 <div class="icon" style="position:relative;bottom: 30px;left:120px">
                       <button class="b1">
                        <i name="whatsapp" type="submit" class="fab fa-whatsapp"></i>
                     </button>
                     <button  class="b1">
                        <i name="sms"type="submit" class="far fa-comments"></i>
                     </button>
                     <button  class="b1">
                        <i name="mail"type="submit" class="far fa-envelope"></i>
                     </button>
                    
                 </div>

              </div>
        </div>
      
                </form>
      
              <div class="prfpic" style="position:relative;padding-top:80px;left:900px;bottom:600px">
                <div class="card" style="width: 18rem;">
                  <img style="height:50%;width:100%;border: radius 50%;" class="card-img-top" src="usericon2.jpeg" alt="Card image cap">
                  <div class="card-body" style="background-color: #c67ace;color: Black;">
                    <h5 class="card-title">xxxxxxxxxx</h5>
               
                  </div>
                </div>
              </div>
        <div class="su" style="bottom: 450px;left:300px;position:relative">
            <button style="height:50px;width:200px;background-color: turquoise; "><h4>Submit</h4></button>
        </div>
    </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
  <script src="student.js"></script>
</body>
</html>